<% search = Search.new %>
<% results = search.by("browse",params["clean_params"]) %>
<% unless results['meta']['code'] == 400 || results['response']['venues'].length == 0 %>
<% headers = [
				'ID',
				'Name',
				'Phone',
				'Twitter',
				'Lat&lng', 
				'Address',
				'Zip Code', 
				'City',
				'State',
				'Categorie IDs',
				'Categories',
				'Check Ins',
				'User Count',
				'Restaurant Website',
				'Foursquared Website'
				] %>
<%= CSV.generate_line headers %>

<% results['response']['venues'].each do |venue| %>
	<% lat_and_lng = "#{venue['location']['lat']} #{venue['location']['lng']}"%>
	<%= CSV.generate_line([
		venue['id'], 
		venue['name'],
		venue['contact']['formattedPhone'],
		venue['contact']['twitter'],
		lat_and_lng,
		venue['location']['address'],
		venue['location']['postalCode'],
		venue['location']['city'],
		venue['location']['state'],
		venue['categories'][0]['id'],
		venue['categories'][0]['shortName'],
		venue['stats']['checkinsCount'],
		venue['stats']['usersCount'],
		venue['url']
		]) %>
<% end %>
<%end%>









<%= link_to 'Download CSV list', csv_path(format: :csv, clean_params: @params) %>	
<table border="1" class="table table-striped">
	
	<h2>Results: <%= @results['response']['venues'].length%></h2>
	<br/>

	<tr id="header">
		<td>
			ID
		</td>
		<td>
			Name
		</td>
		<td>
			phone
		</td>
		<td>
			twitter
		</td>
		<td>
			lat and lng
		</td>
		<td>
			address
		</td>
		<td>
			zip code
		</td>
		<td>
			city
		</td>
		<td>
			state
		</td>
		<td>
			categorie ids
		</td>
		<td>
			categories
		</td>
		<td>
			checkins
		</td>
		<td>
			user count
		</td>
		<td>
			restaurant website
		</td>
		<td>
			foursquared website
		</td>
	</tr>
	
	<% @results['response']['venues'].each do |venue| %>
	<tr>
		<td>
			<%= venue['id'] %>
		</td>
		<td>
			<%= venue['name'] %>
		</td>
		<td>
			<%= venue['contact']['formattedPhone'] %>
		</td>
		<td>
			<%= venue['contact']['twitter'] %>
		</td>
		<td>
			<%= "#{venue['location']['lat']}, #{venue['location']['lng']}" %>
		</td>
		<td>
			<%= venue['location']['address'] %>
		</td>
		<td>
			<%= venue['location']['postalCode'] %>
		</td>
		<td>
			<%= venue['location']['city'] %>
		</td>
		<td>
			<%= venue['location']['state'] %>
		</td>
		<td>
			<% venue['categories'].each do |venue| %>
				<%= "#{venue['id']} " %>
			<% end %>
		</td>
		<td>
			<% venue['categories'].each do |venue| %>
				<%= "#{venue['shortName']} " %>
			<% end %>
		</td>
		<td>
			<%= venue['stats']['checkinsCount'] %>
		</td>
		<td>
			<%= venue['stats']['usersCount'] %>
		</td>
		<td>
			<a href=<%= venue['url']%>><%= venue['url']%></a>
		</td>
		<td>
			<% if venue['hasMenu'] == true%>
				<a href=<%= venue['menu']['url']%>><%= venue['menu']['url']%></a>
			<% else %>
				none
			<% end %>
		</td>
	</tr>
	<% end %>
	
</table>
<%else%>
	<h2>No Results</h2>
<%end%>






