<%= form_tag("/search", method: "get") do %>
<%= label_tag(:location, "Lat and long") %>
  <%= text_field_tag(:location,params[:location] )	%>
  <%= label_tag(:radius, "Radius") %>
  <%= text_field_tag(:radius,params[:radius]) %>
   <%= label_tag(:types, "Types") %>
    <%= text_field_tag(:types,params[:types])%>
     <%= label_tag(:keyword, "Keyword") %>
    <%= text_field_tag(:keyword,params[:keyword])%>
     <%= label_tag(:name, "Name") %>
     <%= text_field_tag(:name,params[:name])%>
    <%= submit_tag("Search") %>
<% end %>
<% unless @results.length == 0 %>
<% puts "------#{@results}-------"%>
<table border="1" class="table table-striped">
	
	<h2>Results: <%= @results.length%></h2>
	<br/>

	<tr id="header">
		<td>
			ID
		</td>
		<td>
			Name
		</td>
		<td>
			phone
		</td>
		<td>
			lat and lng
		</td>
		<td>
			address
		</td>
		<td>
			categories
		</td>
		<td>
			Rating
		</td>
		<td>
			restaurant website
		</td>
		<td>
			Monday
		</td>
		<td>
			Tuesday
		</td>
		<td>
			Wednesday
		</td>
		<td>
			Thursday
		</td>
		<td>
			Friday
		</td>
		<td>
			Saturday
		</td>
		<td>
			Sunday
		</td>
	</tr>
	<% @results.each do |venue| %>
	<tr>
		<td>
			<%= venue['result']['id'] %>
		</td>
		<td>
			<%= venue['result']['name'] %>
		</td>
		<td>
			<%= venue['result']['formatted_phone_number'] %>
		</td>
		<td>
			<%= venue['result']['geometry']['location']['lat'] %>
			<%= venue['result']['geometry']['location']['lng'] %>
		</td>
		<td>
			<%= venue['result']['formatted_address'] %>
		</td>
		<td>
			<% venue['result']['types'].each do |type| %>
			<%= "#{type} " %>
			<% end %>
		</td>
		<td>
			<%= venue['result']['rating'] %>
		</td>
		<td>
			<%= venue['result']['website'] %>
		</td>
		<% if venue['result']['opening_hours'] != nil %>
			<% venue['result']['opening_hours']['weekday_text'].each do |day| %>
			<td>
				<%= day %>
			</td>
			<% end %>
		<% end %>
	</tr>
	<% end %>
</table>

<% end %>
	